<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <hero-logo></hero-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="(!item.adminauth || user.userType === 'Admin') && (!item.auth || isLoggedIn())">
                <a ui-sref-active="active" ui-sref="{{ item.state }}"><i id='nav-icons' class='fa fa-{{item.icon}}'></i></a>
            </li>
        </ul>

        <form id='search-bar' class="navbar-form navbar-left" role="search">
            <input ng-model="searchQuery.data"type="text" class="form-control" placeholder="Search">
          <a ui-sref-active="active" href='#' ng-click="search(searchQuery.data)"  type="submit"><i id='nav-icons' class="fa fa-search"></i></a>
        </form>

        <!-- Login Button + Show Login Page -->
        <button ng-show="!user" ui-sref="login"  class="btn btn-default login-button">Login</button>

        <div ng-show="user" class="welcome">
            <span>Welcome, <a ng-click='profile(user._id)' href="#">{{ user.displayName.split(' ')[0] }}</a></span>
            <a ng-click="logout()">Logout</a>
        </div>

        <!-- Shopping cart -->
        <button ui-sref='cart' id='search-btn' class="btn btn-default login-button glyphicon glyphicon-shopping-cart"></button>
    </div>
</nav>
