
<div class="modal-header">
  <h3> Create new product</h3>
</div>
<div class="modal-body">
<form id="product-form" name="productForm" ng-submit="productForm.$valid && createProduct(productModel)">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" ng-model="productModel.title" class="form-control" id="product-title" placeholder="Title">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" ng-model="productModel.description" class="form-control" id="product-description" placeholder="Description">
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" name="price" ng-model="productModel.price" class="form-control" id="product-price" placeholder="Price">
    </div>

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" ng-model="productModel.quantity" class="form-control" id="product-quantity" placeholder="Quantity">
    </div>

    <div class="form-group">
      <label>Categories</label><br>
      <select ng-model="productModel.category">
        <option ng-repeat="cat in categories">{{ cat.label }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantity">Image Url</label>
      <input type="text" name="img" ng-model="productModel.img" class="form-control" id="product-img" placeholder="Image Url">
      <!-- <input type="file" accept="image/*" name="img" ng-file-select="uploadImg($files)" id="product-image"> -->
      <!-- <img ng-show="fileName" ng-src="server/{{fileName}}" width="40" style="margin-left: 10px"> -->
      <img ng-show='productModel.img' src='{{productModel.img}}' height="50" width="50">
    </div>

    <div>
      <alert type="success" ng-show="created">Product information updated successfully!</alert>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>

<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Close</button>
</div>



