<!-- <form id="product-form" name="productForm" ng-submit="productForm.$valid && editProduct(productPop)"> -->

  <!-- Alert  -->
  <!-- <alert type="danger" ng-show="productForm.pwField.$error.minlength">
      Password needs to have at least 6 characters.
  </alert>

  <alert type="danger" ng-show="passwordMatch">
      Password confirmation must match.
  </alert> -->

<div class="modal-header">
  <h3> Edit Product Details</h3>
</div>
<div class="modal-body">
<form id="product-form" name="productForm" ng-submit="productForm.$valid && editProductDetail(product)">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" ng-model="product.title" class="form-control" id="product-title">
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" name="description" ng-model="product.description" class="form-control" id="product-description">
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" name="price" ng-model="product.price" class="form-control" id="product-price" >
    </div>

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" ng-model="product.quantity" class="form-control" id="product-quantity">
    </div>

    <div class="form-group">
      <label>Categories</label><br>
      <select ng-model="product.category">
        <option ng-repeat="cat in categories">{{ cat.label }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="quantity">Upload image</label>
      <input type="file" accept="image/*" name="img" ng-file-select="uploadImg($files)" id="product-image">
    </div>

    <div>
      <alert type="success" ng-show="showAlert">Product information updated successfully!</alert>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
  </div>