<!-- <form id="product-form" name="productForm" ng-submit="productForm.$valid && editProduct(productModel)"> -->

  <!-- Alert  -->
  <!-- <alert type="danger" ng-show="productForm.pwField.$error.minlength">
      Password needs to have at least 6 characters.
  </alert>

  <alert type="danger" ng-show="passwordMatch">
      Password confirmation must match.
  </alert> -->

    <div>
        <label for="title">Title</label>
        <li contentEditable="true" ng-model="productModel.title" id="product-title">{{productModel.title}}</li>
    </div>

    <div>
        <label for="description">Description</label>
        <li contentEditable="true" ng-model="productModel.description" id="product-description">{{productModel.desctiption}}</li>
    </div>

    <div>
        <label for="price">Price</label>
        <li contentEditable="true" ng-model="productModel.price" id="product-price">{{productModel.price}}</li>
    </div>

    <div>
        <label for="quantity">Quantity</label>
        <li contentEditable="true" ng-model="productModel.quantity" id="product-quantity">{{productModel.quantity}}</li>
    </div>

    <div>
        <label for="category">Category</label>
        <li contentEditable="true" ng-model="productModel.category" id="product-category">{{productModel.category}}</li>
    </div>

    <div>Upload image here</div>

    <button type="submit" class="btn btn-default">Submit</button>
<!-- </form> -->
