<!-- <form id="product-form" name="productForm" ng-submit="productForm.$valid && editProduct(productModel)"> -->

  <!-- Alert  -->
  <!-- <alert type="danger" ng-show="productForm.pwField.$error.minlength">
      Password needs to have at least 6 characters.
  </alert>

  <alert type="danger" ng-show="passwordMatch">
      Password confirmation must match.
  </alert> -->

    <div>
        <label for="title">Title</label>
        <li contentEditable="true" ng-model="productModel.title" id="product-title">{{productModel.title}}</li>
    </div>

    <div>
        <label for="description">Description</label>
        <li contentEditable="true" ng-model="productModel.description" id="product-description">{{productModel.description}}</li>
    </div>

    <div>
        <label for="price">Price</label>
        <li contentEditable="true" ng-model="productModel.price" id="product-price">{{productModel.price}}</li>
    </div>

    <div>
        <label for="quantity">Quantity</label>
        <li contentEditable="true" ng-model="productModel.quantity" id="product-quantity">{{productModel.quantity}}</li>
    </div>

    <div>
      <label>Categories</label><br>
      <select ng-model="categories">
        <option ng-repeat="category in categories">{{category.label}}</option>
      </select>
    </div>
    <div>
        <label for="category">Category</label>
        <li contentEditable="true" ng-model="productModel.category" id="product-category">{{productModel.category}}</li>
    </div>

    <div>
      <label> Image </label>
      <li><img src="https://pbs.twimg.com/profile_images/378800000305778238/852d2f76797dbe1da82095f988d38fbe_400x400.png" alt="" height="42" width="42"></li>
    </div>

    <button type="submit" class="btn btn-default" ng-click="editProduct(productModel)">Submit</button>
<!-- </form> -->
