<ui-view ng-show="showForm"></ui-view>

<div ng-hide="showForm">
<div>
	<br>

<button type="button" class="btn btn-primary btn-lg" ng-click="getAll()">
  <span class="" aria-hidden="true"></span> Show All Orders
</button>

<div ng-model="selectStatus" class="btn-group btn-lg" dropdown is-open="status.isopen">
  <button type="button" class="btn btn-lg btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
    Order Status<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li ng-repeat="status in status" ng-click="getStatus(status.label)" ng-selected="selectStatus"><a href="#">{{status.label}}</a></li>
  </ul>
</div>

	<!-- <select ng-model="selectStatus">
		<option ng-repeat="status in status" ng-selected="selectStatus">{{status.label}}</option>
	</select>
	<button ng-click="getStatus(selectStatus)" class="btn btn-danger">Go</button> -->
</div>


<br>

<table class="table table-striped">
	<tr>
	    <td>Order Id</td>
	    <td>User Id</td>
	    <td>Guest</td>
	    <td>Email</td>
	    <td>Status</td>
	    <td>Date Created</td>
	    <td></td>
	    <td></td>
	</tr>

    <tr ng-repeat='order in orders'>
		<td>{{ order._id }}</td>
		<td>{{ order.userId }}</td>
		<td>{{ order.guest }}</td>
		<td>{{ order.email }}</td>
	    <td>{{ order.status }}</td>
	    <td>{{ order.dateCreated }}</td>
	    <td class="fa fa-eye" ng-click="viewOrder(order)"> View </td>
		<td class="fa fa-pencil" ng-click="editOrder(order)"> Setting </td>
    </tr>
</table>
</div>

