<!-- <ui-view ng-show="showForm"></ui-view> -->

<div>
	<div>
		<br>
		<button type="button" class="btn btn-primary btn-lg" ng-click="createProduct()">
		  <span class="fa fa-plus" aria-hidden="true"></span> Create
		</button>
		<button type="button" class="btn btn-primary btn-lg" ng-click="getAll()">
		  <span class="" aria-hidden="true"></span> Show All Products
		</button>

		<div ng-model="selectCategory" class="btn-group btn-lg" dropdown is-open="status.isopen">
	      <button type="button" class="btn btn-lg btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled">
	        Product Category<span class="caret"></span>
	      </button>
	      <ul class="dropdown-menu" role="menu">
	        <li ng-repeat="category in categories" ng-click="getCategory(category.label)" ng-selected="selectCategory"><a href="#">{{category.label}}</a></li>
	      </ul>
	    </div>
	</div>

	<br>

	<table class="table table-striped">
		<tr ng-repeat='product in products track by $index'>
			<td contentEditable="true">{{ product.title }}</td>
			<td>{{ product.description }}</td>
			<td>Price: {{ product.price }}</td>
			<td>{{ product.category }}</td>
			<td> <img src="https://pbs.twimg.com/profile_images/378800000305778238/852d2f76797dbe1da82095f988d38fbe_400x400.png" alt="" height="42" width="42"></td>
			<td class="fa fa-pencil" ng-model="product" ng-click="editProduct(product)" > Edit </td>
			<td class="fa fa-trash-o" ng-click="deleteProduct(product)"> Delete</td>
		</tr>
	</table>
</div>
