navbar {

  display: block;
  background: white;
  fullstack-logo {
    padding-top: 10px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: black;
    &:hover {
      color: $cyan;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: $cyan;
    }
    &:hover {
      transition: color 0.2s;
      background-color: white;
    }
    &:focus {
      color: $cyan;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      padding-right: 10px;
      padding-left: 10px;
    }
    a {
      color: $cyan;
      cursor: pointer;
    }
  }

}

#search-btn {
  border: none;
  font-size: 1.2em;
  &:hover {
    background-color: white;
    color: $cyan;
  }
}