#nav-icons {
  font-size: 1.6em;
  margin: 3px 3px;
}
#search-bar {
  padding-top: 3.3px;
  .fa-search {
    position: relative;
    top: 3.7px;
    left: 5px;
  }
}
.navbar {
  margin-bottom: 0px !important;
  border-bottom: solid 1px #d9d9de;
  // border-left: solid 1px #d9d9de;
  // padding-top: 20.3px;
  display: block;
  background: white;
  fullstack-logo {
    padding-top: 5px;
    margin-right: 20px;
    width: 30px;
  }

  a {
    color: black;
    &:hover {
      color: $cyan;
    }
  }

  .nav > li > a {
    cursor: pointer;
    &.active {
      color: $cyan;
    }
    &:hover {
      transition: color 0.2s;
      background-color: white;
    }
    &:focus {
      color: $cyan;
      background: transparent;
    }
  }

  .login-button {
    float: right;
    margin-top: 8px;
  }
  .glyphicon {
    font-size: 3em;
  }
  .welcome {
    font-size: 1.2em;
    float: right;
    margin-top: 18px;
    padding-left: 0px;
    span {
      color: black;
      padding-right: 10px;
      padding-left: 10px;
    }
    a {
      color: $cyan;
      cursor: pointer;
    }
  }

}

#search-btn {
  padding-top: 5px;
    margin-right: 17px;
    width: 60px;
  border: none;
  font-size: 1.6em;
  &:hover {
    background-color: white;
    color: $cyan;
  }
}