<div ng-if='!ordered' class='container'>
	<ul id='products'>
		<li id='product' ng-repeat='product in products track by $index'>
		<div id='product-card' style='background-image: url({{product.img}})'>
			<div id="card-contents">
				<h1>{{ product.title }} <span ng-click='removeItem(product._id)'><button class='btn btn-warning'>REMOVE FROM CART</button></span></h1>
				<h4>${{ product.price }}</h2>
					<div class="card-blurb">
						{{ product.description }}
					</div>
			</div>
		</div>
		</li>
	</ul>
</div>

<div ng-if="ordered">
    <div class="modal-header">
        <h3 class="modal-title">Thank you {{order.userId.displayName}}! Your order has been submitted.</h3>
        <h4>A receipt has been sent to your email on file.</h4>
    </div>
    <div class="modal-body">
         <ul>
            <li>Submitted on: {{order.dateCreated}}</li>
            <li>Status: {{order.status}}</li>
            <li ng-repeat="item in order.items">
            	<p>Quantity: {{item.quantity}}</p>
            	<p>{{item.productId.description}}</p>
            	<p>${{item.productId.price}}</p>
            </li>   
            <li>Total: ${{total}}</li>
         </ul>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
   
</div>
<h1 ng-if='!products.length && !ordered'>
	<span>Your cart is empty! Head on over to our</span>
	<span ui-sref="discover"><a href="#">DISCOVER</a></span>
	<span> page and fill it up!<span>
</h1>
<h1>
	<button class='btn btn-primary btn-lg' href='#' ng-if='!ordered && products.length' ng-click='checkout()'>Checkout</button>
</h1>
<h1>
	<button class='btn btn-primary btn-lg' href='#' ng-if="!user" ng-if="!ordered" ui-sref="login">Sign In</button>
</h1>