<!-- <div ng-if='!ordered' ng-repeat='product in products track by $index'>
	<h1>{{ product.title }}</h1>
	<h2>
		<li>{{ product.description }}</li>
		<li>Price: {{ product.price }}</li>
		<li>{{ product.category }}</li>
		<li> <img src="{{ product.img }}" width=400px height=400px alt=""></li>
		<li ng-click='removeItem(product._id)'><button class='btn btn-default'>Remove From Cart</button></li>
	</h2>
</div> -->

<div ng-if='!ordered' class='container'>
	<ul id='products'>
		<li id='product' ng-repeat='product in products track by $index'>
		<div id='product-card' style='background-image: url({{product.img}})'>
			<div id="card-contents">
				<h1>{{ product.title }} <span ng-click='removeItem(product._id)'><button id='bin-btn' class='btn-primary'><i class="fa fa-trash-o fa-3 faa-shake animated-hover faa-fast"></i></button></span></h1>
				<h4>${{ product.price }}</h2>
					<div class="card-blurb">
						{{ product.description }}
					</div>
			</div>
		</div>
		</li>
	</ul>
</div>

<div ng-if='ordered'>
	<div>
		<h1>Your order:</h1>
		<h2>
			<li>Total Price: {{ total }}</li>
			Subtotal:
			<ul> 
			<li id='ordered-items' ng-repeat='product in products track by $index | orderBy: product.title'> {{ product.title }}: {{ product.userQuantity }} x {{ product.price }} = {{ product.userQuantity * product.price }} </li>
			</ul>
			<li>Tracking Number: {{ cart._id }}</li>
		</h2>
	</div>
</div>

<h1><button class='btn btn-primary btn-lg' href='#' ng-if='!ordered' ng-click='checkout()'>Checkout</button></h1>
<h1><button class='btn btn-primary btn-lg' href='#' ng-if="!user" ng-if="!ordered" ui-sref="login">Sign In</button></h1>