#products {
	margin: 20px auto;
}

#product {
	opacity: 0.9;
	&:hover {
		opacity: 1;
	}
	color: white;

	border: 1px solid white;
	cursor: pointer;
	h1 {
		margin: 0px;
	}
	li {
		&:nth-child(1) {
			color: grey;
		}
	}
	margin-bottom: 30px;

}

#product-card {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 330px;
	width: 100%;
	position: relative;
	// position: fixed;
	// left: 0;
	// right: 0;
	// z-index: 0;
	// margin-left
	// -webkit-filter: blur(3px); 
	// filter: blur(3px);
	&:hover {
		-webkit-filter: blur(0px); 
		filter: blur(0px);
	}
}
// #product-card:before {
//   content: "";
//   position: relative;
//   width: 100%;
//   height: 330px;
//   // z-index: 2;
//   display: block;
//   background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
//   -webkit-filter: blur(5px);
//   -moz-filter: blur(5px);
//   -o-filter: blur(5px);
//   -ms-filter: blur(5px);
//   filter: blur(5px);
// }

#card-contents {
	// -webkit-filter: blur(0px); filter: blur(0px);
	text-shadow: 1px 0px black;
	padding-left: 20px;
	bottom: -90px;
	cursor: pointer;
	height: 220px;
	line-height: 20px;
	position: absolute;
	text-align: left;
	width: 1000px;
	float: left;
	.btn-primary {
		background: transparent;
	}

}

.card-blurb {
	font-size: 1.5em;
	 // text-shadow: 1px 0 0 $cyan;
}