#products {
	margin: 20px auto;
}

#product {
	opacity: 0.9;
	&:hover {
		opacity: 1;
	}
	color: white;

	h1 {
		margin: 0px;
	}
	li {
		&:nth-child(1) {
			color: grey;
		}
	}
	padding-bottom: 30px;

}
#bin-btn {
	border: none;
	float: right;
	&:hover {
		color: $cyan;	      
	}
	z-index: 10;

}

#product-card {
	cursor: default;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 330px;
	width: 100%;
	position: relative;
}


#card-contents {
	text-shadow: 1px 0px black;
	padding-left: 20px;
	bottom: -90px;
	height: 220px;
	line-height: 20px;
	position: absolute;
	text-align: left;
	width: 1000px;
	float: left;
	.btn-primary {
		background: transparent;
	}

}

.card-blurb {
	font-size: 1.5em;
}